<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a >@User.Identity.Name</a>
        <form asp-action="Logout" asp-controller="User" method="post">
            <button type="submit" class="text-dark">Выйти</button>
        </form>
    }
    else
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Регистрация</a>
                </li>
            </ul>
        </div>
    }
</div>

