@using PasteboardProject.Models
@model PasteboardViewModel
@{
    Layout = null;
}

<h2 class="text-center">@Model.Pasteboard.Name</h2>
<body>
    @foreach (var pf in Model.PasteboardFields)
    {
        <b><a href="http://@pf.FieldValue">@pf.FieldName</a></b>
    }
</body>

