@model PasteboardProject.Models.ViewModels.LoginViewModel;

<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Вход</p>
<form asp-action="Login" asp-controller="User" method="post">
  <div class="mx-auto">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="form-text">Введите адрес эл.почты</div>
        
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="form-text">Введите пароль</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Вход</button>
  </div>
</form>

