@model PasteboardProject.Models.ViewModels.UserViewModel;

@{
    Layout = "_Layout";
}

<h2 class="text-center">Страница пользователя: @Model.Name</h2>
<br/>

<h3 class="text-center">Список моих карточек:</h3>
<br/>
<body class="text-center">
@foreach (var pasteboard in Model.Pasteboards)
{
    <a href="@Url.Action("ShowPasteboard", "Pasteboard", new { pasteboard.Id })">
        @pasteboard.Name
    </a>
    <br/>
    <a class="btn btn-outline-secondary" type="button"
            href=@Url.Action("EditPasteboard", "Pasteboard", new { pasteboard.Id })>Изменить</a>
    <a class="btn btn-outline-secondary" type="button" >Удалить</a>
    <br/>
}
</body>
<button class="btn btn-outline-secondary gap-2 col-3 mx-auto" type="button"
        onclick="location.href='@Url.Action("CreatePasteboard", "Pasteboard")'">Добавить</button>

