@{
    Layout = "_Layout";
}

<div class="mx-auto">
    <h3 class="text-center">Это Pasteboard - Мои Визитки.</h3>
    <p class="text-center">Добро пожаловать на сайт электронных визиток!</p>
    С помощью нашего сервиса Вы можете хранить все ваши ссылки на аккаунты в социальных сетях, на хранилища данных и т.д.

</div>
