@{
    Layout = "_Layout";
}

<div class="mx-auto">
    <h3 class="text-center">Это Pasteboard - Мои Визитки.</h3>
    <p class="text-center">Добро пожаловать на сайт электронных визиток!</p>
    Электронная визитка - это современный способ представления себя и своего бизнеса в онлайн-пространстве. 
    <br>
    Она позволяет быстро и удобно обмениваться контактной информацией, а также делиться своими услугами и продуктами. На сайте электронных визиток вы можете создать свою уникальную страницу, на которой будут размещены ваши контактные данные, описание бизнеса, портфолио, отзывы клиентов и многое другое. 
    <br>
    Это простой и эффективный способ привлечения новых клиентов и укрепления отношений с уже существующими. 
    <br>
    Создайте свою электронную визитку прямо сейчас и начните продвигать свой бизнес в онлайн-мире!
    <br>
    Электронная визитка также является экологически более безопасным вариантом, чем традиционные бумажные визитки. 
    <br>
    Она не требует использования бумаги и не создает отходов, что способствует сохранению природных ресурсов и снижению углеродного следа. 
    <br>
    Кроме того, электронная визитка может быть легко обновлена и изменена в любое время, что позволяет ее обладателю быстро адаптироваться к изменяющимся условиям и требованиям рынка. 
    <br>
    В целом, электронная визитка - это удобный, экономичный и эффективный инструмент для продвижения бизнеса в онлайн-мире.
    
</div>
