@{
    Layout = "_Layout";
}

<div class="mx-auto">
    <p>
    1. Выполните регистрацию (На вашу электронную почту придет письмо со ссылкой на подтверждение почты, если письма нет во входящих, нужно открыть папку спам и открыть письмо от pasteboard.ru).
    </p>
    <p><img src="images/registration_image.jpg" Height="300" Width="300"/></p>
    <p>
    2. После подтверждения вашей электронной почты выполните Вход.
    </p>
    <p>
    3.Теперь вы на странице пользователя, где указан список ваших визиток и дествия которые вы можете сделать с ними.
    </p>
    <p><img src="images/user_page_image.jpg" Height="300" Width="600"/></p>
    <p>
    4. Для создания новой визитки нажмите на кнопку "Добавить визитку" и откроется окно создания.
    </p>
    <p><img src="images/create_pasteboard_image.jpg" Height="300" Width="250"/></p>
    <p>
    5. Вы можете открыть вашу визитку и нажав "Просмотреть" и скопировать ссылку браузера, затем отправить друзьям. клиентам и т.д. При открытии ссылки он перейдут на вашу визитку 
    </p>
    <p><img src="images/pasteboard_show_image.jpg" Height="300" Width="250"/></p>
    <p>
    6. Для редактирования существующей визитки нажмите на кнопку "Редактировать" и откроется окно редактирования.
    </p>
    <p><img src="images/edit_pasteboard_image.jpg" Height="300" Width="250"/></p>
    <p>
    7. Также вы можете посмотреть статистику просмотров вашей визитки, нажатием кнопки "Статистика".
    </p>
    <p><img src="images/statistics_image.jpg" Height="300" Width="600"/></p>
    <p>
    8. Для удаления вашей визитной карточки нажмите "Удалить".
    </p>
</div>
