@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="col-4 mx-auto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare sem in massa iaculis maximus. Nam sollicitudin ullamcorper mauris, nec venenatis nisl mollis vel. Phasellus aliquam mollis faucibus. Quisque luctus congue diam, eu pharetra libero posuere ac. Mauris iaculis mi vitae velit cursus euismod. Cras in justo commodo, feugiat magna at, aliquet augue. Curabitur eget lectus id purus hendrerit placerat. Pellentesque vel urna at lectus tempor tempor id et purus. Mauris eget blandit libero. Sed non massa sit amet neque commodo tristique. Quisque auctor lorem at leo ultricies, id porttitor mauris sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor mi tellus, et blandit nibh blandit in. Nam lacinia sapien ac lacinia laoreet. Nam ultricies ornare velit sit amet convallis.
    
    Donec quam quam, luctus eget convallis a, viverra id lectus. Donec dapibus nunc ac varius porttitor. Phasellus commodo bibendum dapibus. Curabitur at molestie orci, id laoreet turpis. Morbi facilisis convallis venenatis. Integer luctus est non orci sagittis imperdiet. Suspendisse eu nibh lorem. Aliquam erat volutpat.
    
</div>
