@{
    Layout = "_Layout";
}

<div class="mx-auto">
    <h3>Правила использования сайта</h3>
    
    Как и любой другой сайт, сайт электронных визиток имеет свои правила использования. Некоторые из них могут быть установлены администрацией сайта, а некоторые являются общепринятыми правилами поведения в Интернете. Ниже приведены основные правила использования сайта электронных визиток:

    <br>1. Не размещайте ложную информацию на своей электронной визитке. Вся информация, которую вы размещаете на своей электронной визитке, должна быть правдивой и актуальной.

    <br>2. Не используйте сайт для незаконной деятельности. Сайт электронных визиток не должен использоваться для распространения незаконной информации, провокаций или других действий, которые могут привести к нарушению закона.

    <br>3. Уважайте права других пользователей. Не публикуйте информацию, которая может оскорбить или нарушить чью-то конфиденциальность.

    <br>4. Соблюдайте авторские права. Не публикуйте на своей электронной визитке материалы, защищенные авторскими правами без соответствующего разрешения.

    <br>5. Не злоупотребляйте функционалом сайта. Не используйте сайт для спама, рассылки нежелательной рекламы или других действий, которые могут привести к нарушению работы сайта или его пользователей.

    <br>6. Соблюдайте законы и правила Интернета и Российской Федерации. Используйте сайт в соответствии с законами, а также с уважением к другим пользователям.

    <br>7. Сохраняйте конфиденциальность своих данных. Не разглашайте свои личные данные и пароли другим пользователям сайта.

    <br>8. Своевременно обновляйте информацию на своей электронной визитке. Обновляйте информацию на своей электронной визитке, чтобы она всегда была актуальной и содержала самую свежую информацию о вас и вашей деятельности.

    <br>9. Соблюдайте правила использования сайта. Соблюдайте правила использования сайта, установленные администрацией, чтобы избежать блокировки вашей электронной визитки или других неприятностей.

    <br>10. Обратитесь к администрации сайта при возникновении проблем. Если у вас возникли проблемы с использованием сайта электронных визиток, обратитесь к администрации сайта для получения помощи и решения проблемы.

    <h3>Политика сайта</h3>

    Политика сайта относительно использования куки, IP-адресов, email-адресов и передачи персональных данных:

    <br>1. Куки: Наш сайт может использовать куки (маленькие файлы, которые сохраняются на вашем устройстве), чтобы улучшить ваш опыт использования сайта. Мы можем использовать куки для сохранения ваших предпочтений и настроек, а также для анализа трафика на сайте. Вы можете отключить использование куки в настройках вашего браузера, но это может повлиять на функциональность сайта.

    <br>2. IP-адреса: Мы можем использовать IP-адреса для анализа трафика на сайте и для улучшения безопасности сайта. Мы не связываем IP-адреса с конкретными пользователями и не передаем их третьим лицам.

    <br>3. Email-адреса: Мы можем запрашивать ваш email-адрес для отправки вам информации о нашем сайте или для обратной связи. Мы не передаем ваш email-адрес третьим лицам без вашего согласия.
</div>